{% extends 'layout/base.html' %}

{% block content %}
    <h1>Here is the PRIVATE HOME</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, rerum quis autem ipsam et sunt, quae alias deleniti voluptates dolore quidem? Sit consequatur illum blanditiis assumenda officiis. Expedita, quaerat adipisci.
    Ab quod ipsum voluptatibus ratione eum inventore quas maxime labore? Repellendus sint, aliquid ex similique omnis fugiat quam officiis illo sunt repudiandae quae quia, voluptatem aliquam natus adipisci magnam libero.</p>
{% endblock %}